div.container{
  width: 10%;
  height: 61%;
  position: absolute;
  left: 25.50%;
  background: rebeccapurple;
  border-radius: 5px 0px 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}