div.sidebar {
  width: 7%;
  z-index: 1;
  height: 72.5%;
  position: absolute;
  left: 27%;
  background: #639;
  border-radius: 5px 0 0 5px;
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
}

div.sidebar ul {
  list-style: none;
  display: contents;
  justify-content: center;
  align-items: center;
}

div.sidebar li {
  display: grid;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 940px){
  div.sidebar {
    width: 10%;
    height: 143.7%;
    position: absolute;
    left: 1%;
    background: #639;
    border-radius: 5px 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


@media only screen and (max-width: 700px){
  div.sidebar {
    width: 17%;
    height: 87.7%;
    position: absolute;
    left: 1%;
    background: #639;
    border-radius: 5px 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 400px){
  div.sidebar {
    width: 18%;
    height: 102.7%;
    position: absolute;
    left: 0%;
    background: #639;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -8px;
  }
  
} 