div.sidebar {
  width: 7%;
  height: 66%;
  position: absolute;
  left: 27.25%;
  background: rebeccapurple;
  border-radius: 5px 0px 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.sidebar ul {
  list-style: none;
  display: contents;
  justify-content: center;
  align-items: center;
}

div.sidebar li {
  display: grid;
  justify-content: center;
  align-items: center;
}